In [21]:
import pandas as pd
import numpy as np

In [22]:
file_path = "Food_CPI_data.csv"
CPI_df = pd.read_csv(file_path)
CPI_df

           DATE  CUSR0000SAF112
0    1967-01-01          38.100
1    1967-02-01          38.000
2    1967-03-01          37.800
3    1967-04-01          37.500
4    1967-05-01          37.400
..          ...             ...
668  2022-09-01         318.374
669  2022-10-01         319.917
670  2022-11-01         320.034
671  2022-12-01         322.507
672  2023-01-01         324.815

[673 rows x 2 columns]

In [23]:
#Rename the price column
CPI_df.rename(mapper={"CUSR0000SAF112" : "Index (1982-1984=100)"}, axis=1, inplace=True)
CPI_df.head()

         DATE  Index (1982-1984=100)
0  1967-01-01                   38.1
1  1967-02-01                   38.0
2  1967-03-01                   37.8
3  1967-04-01                   37.5
4  1967-05-01                   37.4

In [24]:
#View datatypes to see what needs to be changed
CPI_df.dtypes

DATE                      object
Index (1982-1984=100)    float64
dtype: object

In [25]:
#Change DATE to datetime
CPI_df['DATE'] = pd.to_datetime(CPI_df["DATE"], format="%Y-%m-%d")
CPI_df.head()

        DATE  Index (1982-1984=100)
0 1967-01-01                   38.1
1 1967-02-01                   38.0
2 1967-03-01                   37.8
3 1967-04-01                   37.5
4 1967-05-01                   37.4

In [26]:
#View datatypes to confirm change
CPI_df.dtypes

DATE                     datetime64[ns]
Index (1982-1984=100)           float64
dtype: object

In [27]:
#check if there are null values
CPI_df.isnull().sum()

DATE                     0
Index (1982-1984=100)    0
dtype: int64

In [28]:
# Remove all data before 1990-01-01 and store to new df
cleaned_CPI_df = CPI_df[CPI_df["DATE"] >= "1990-01-01"]
cleaned_CPI_df

          DATE  Index (1982-1984=100)
276 1990-01-01                126.100
277 1990-02-01                127.000
278 1990-03-01                127.400
279 1990-04-01                128.100
280 1990-05-01                128.200
..         ...                    ...
668 2022-09-01                318.374
669 2022-10-01                319.917
670 2022-11-01                320.034
671 2022-12-01                322.507
672 2023-01-01                324.815

[397 rows x 2 columns]

In [29]:
# rename "DATE" column to "date_time" per team data process in README
cleaned_CPI_df.rename(mapper={"DATE" : "date_time"}, axis=1, inplace=True)
cleaned_CPI_df.head()

C:\Users\jhillman\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

     date_time  Index (1982-1984=100)
276 1990-01-01                  126.1
277 1990-02-01                  127.0
278 1990-03-01                  127.4
279 1990-04-01                  128.1
280 1990-05-01                  128.2

In [31]:
# Calculate percent change
cleaned_CPI_df["Pct_Change"] = cleaned_CPI_df["Index (1982-1984=100)"].pct_change()
cleaned_CPI_df.head(30)

C:\Users\jhillman\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     date_time  Index (1982-1984=100)  Pct_Change
276 1990-01-01                  126.1         NaN
277 1990-02-01                  127.0    0.007137
278 1990-03-01                  127.4    0.003150
279 1990-04-01                  128.1    0.005495
280 1990-05-01                  128.2    0.000781
281 1990-06-01                  130.2    0.015601
282 1990-07-01                  130.3    0.000768
283 1990-08-01                  130.9    0.004605
284 1990-09-01                  131.8    0.006875
285 1990-10-01                  132.7    0.006829
286 1990-11-01                  133.2    0.003768
287 1990-12-01                  133.9    0.005255
288 1991-01-01                  133.7   -0.001494
289 1991-02-01                  133.4   -0.002244
290 1991-03-01                  133.3   -0.000750
291 1991-04-01                  132.8   -0.003751
292 1991-05-01                  133.1    0.002259
293 1991-06-01                  132.7   -0.003005
294 1991-07-01                  132.7    0.000000
295 1991-08-01                  132.6   -0.000754
296 1991-09-01                  132.0   -0.004525
297 1991-10-01                  131.8   -0.001515
298 1991-11-01                  131.3   -0.003794
299 1991-12-01                  131.8    0.003808
300 1992-01-01                  130.5   -0.009863
301 1992-02-01                  130.3   -0.001533
302 1992-03-01                  130.0   -0.002302
303 1992-04-01                  130.1    0.000769
304 1992-05-01                  130.4    0.002306
305 1992-06-01                  130.5    0.000767

In [32]:
# Store new DF as new csv file
output_path = "Output/Food_CPI_cleaned.csv"
cleaned_CPI_df.to_csv(output_path)