Original data set in CSV.

- Check data types and convert if needed
- Other cleaning

### Note: All prices are represented in dollars per pound

The following code cleans the data and exports for use.

## Important:
Price data is missing from October 2012. As this was the only price point missing, rather than deleting the row, I filled it with the average of the preceeding and following months. We may wish to remove this data or replace it with a null value later.

In [1]:
import pandas as pd

In [2]:
file_path = "C:/Users/jhillman/OneDrive/Desktop/Data Analytics Bootcamp/Three_Meals/Raw Data/fred_beef.csv"
beef_df = pd.read_csv(file_path)
beef_df

           DATE APU0000703112
0    1984-01-01         1.290
1    1984-02-01         1.340
2    1984-03-01         1.308
3    1984-04-01         1.331
4    1984-05-01         1.301
..          ...           ...
465  2022-10-01         4.836
466  2022-11-01         4.853
467  2022-12-01         4.800
468  2023-01-01         4.791
469  2023-02-01         4.778

[470 rows x 2 columns]

In [3]:
beef_df.dtypes

DATE             object
APU0000703112    object
dtype: object

In [4]:
# Rename price column
beef_df.rename(mapper={"APU0000703112" : "Beef $/LB"}, axis=1, inplace=True)
beef_df.head()

         DATE Beef $/LB
0  1984-01-01     1.290
1  1984-02-01     1.340
2  1984-03-01     1.308
3  1984-04-01     1.331
4  1984-05-01     1.301

In [5]:
# Convert date to datetime 
beef_df["DATE"] = pd.to_datetime(beef_df["DATE"], format="%Y-%m-%d")

beef_df.head()

        DATE Beef $/LB
0 1984-01-01     1.290
1 1984-02-01     1.340
2 1984-03-01     1.308
3 1984-04-01     1.331
4 1984-05-01     1.301

In [6]:
# For some reason received ValueError that "." could not be coverted to float
# will remove all periods, convert to float, and then divide by 1000
# Price currently listed to 1/10th of a cent

beef_df["Beef $/LB"] = beef_df["Beef $/LB"].str.replace(".", "")
beef_df.head()

C:\Users\jhillman\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """

        DATE Beef $/LB
0 1984-01-01      1290
1 1984-02-01      1340
2 1984-03-01      1308
3 1984-04-01      1331
4 1984-05-01      1301

In [7]:
beef_df["Beef $/LB"].astype(float)

ValueError: could not convert string to float:

In [8]:
# Not sure why above error occurs. Why would an empty string cause a problem?

In [9]:
# Check for null rows
beef_df[beef_df['Beef $/LB'].isna()]

Empty DataFrame
Columns: [DATE, Beef $/LB]
Index: []

In [10]:
# Try strip method 
beef_df['Beef $/LB'] = beef_df['Beef $/LB'].str.strip()
beef_df.head()

        DATE Beef $/LB
0 1984-01-01      1290
1 1984-02-01      1340
2 1984-03-01      1308
3 1984-04-01      1331
4 1984-05-01      1301

In [11]:
# Strip method did not help

In [12]:
# Store values from Price column as a list, drop column, and make a new column with same values
# In this process, found the empty string value
print(beef_df['Beef $/LB'].values) # Viewing this is how I found it
print("-----")
print(beef_df[beef_df['Beef $/LB'] == ''])

['1290' '1340' '1308' '1331' '1301' '1269' '1249' '1280' '1268' '1246'
 '1266' '1298' '1284' '1283' '1282' '1267' '1213' '1205' '1200' '1207'
 '1205' '1189' '1238' '1277' '1275' '1263' '1267' '1219' '1187' '1165'
 '1189' '1225' '1234' '1225' '1278' '1257' '1300' '1271' '1278' '1294'
 '1318' '1301' '1313' '1322' '1323' '1326' '1351' '1322' '1314' '1315'
 '1342' '1336' '1365' '1388' '1373' '1370' '1372' '1394' '1409' '1399'
 '1397' '1366' '1434' '1424' '1437' '1436' '1438' '1447' '1458' '1449'
 '1491' '1501' '1557' '1572' '1571' '1593' '1577' '1593' '1581' '1576'
 '1594' '1582' '1622' '1630' '1647' '1632' '1610' '1611' '1624' '1604'
 '1586' '1578' '1553' '1552' '1567' '1577' '1601' '1587' '1545' '1563'
 '1545' '1535' '1487' '1533' '1521' '1546' '1535' '1500' '1565' '1562'
 '1562' '1588' '1560' '1562' '1577' '1573' '1551' '1556' '1600' '1574'
 '1561' '1555' '1576' '1482' '1489' '1511' '1456' '1460' '1463' '1416'
 '1376' '1380' '1381' '1426' '1392' '1365' '1322' '1333' '1365' '1328'
 '1376' '1371' '1368' '1403' '1350' '1403' '1375' '1354' '1319' '1324'
 '1352' '1391' '1360' '1371' '1403' '1424' '1409' '1398' '1356' '1381'
 '1382' '1408' '1402' '1394' '1420' '1406' '1409' '1392' '1457' '1398'
 '1413' '1419' '1411' '1388' '1447' '1426' '1361' '1393' '1442' '1388'
 '1382' '1431' '1404' '1429' '1444' '1448' '1435' '1442' '1484' '1496'
 '1518' '1528' '1483' '1516' '1532' '1584' '1570' '1556' '1574' '1611'
 '1579' '1582' '1621' '1625' '1693' '1732' '1740' '1763' '1735' '1703'
 '1680' '1634' '1717' '1713' '1747' '1713' '1734' '1700' '1740' '1784'
 '1737' '1719' '1659' '1669' '1676' '1721' '1721' '1693' '1722' '1778'
 '1858' '1855' '1856' '1932' '1878' '2006' '2022' '2010' '2256' '2232'
 '2260' '2250' '2196' '2089' '2125' '2078' '2095' '2130' '2121' '2210'
 '2216' '2140' '2191' '2229' '2218' '2309' '2363' '2338' '2299' '2422'
 '2377' '2206' '2302' '2303' '2277' '2188' '2251' '2228' '2240' '2237'
 '2147' '2213' '2202' '2206' '2206' '2259' '2185' '2304' '2292' '2254'
 '2307' '2333' '2366' '2395' '2372' '2260' '2289' '2234' '2328' '2381'
 '2293' '2323' '2313' '2269' '2258' '2371' '2419' '2402' '2357' '2406'
 '2357' '2436' '2269' '2251' '2257' '2234' '2147' '2134' '2138' '2177'
 '2062' '2186' '2279' '2277' '2240' '2364' '2309' '2400' '2453' '2502'
 '2398' '2397' '2394' '2378' '2533' '2659' '2715' '2722' '2694' '2774'
 '2818' '2819' '2868' '2876' '2899' '2921' '3005' '2947' '3016' '2998'
 '2995' '3007' '3085' '2991' '3024' '' '3175' '3080' '3407' '3379' '3332'
 '3268' '3311' '3382' '3459' '3454' '3502' '3389' '3477' '3460' '3467'
 '3555' '3698' '3808' '3856' '3880' '3884' '4013' '4096' '4154' '4201'
 '4156' '4235' '4238' '4200' '4231' '4136' '4221' '4200' '4159' '4126'
 '4083' '4113' '4060' '3978' '3964' '3955' '3815' '3717' '3725' '3690'
 '3657' '3665' '3679' '3597' '3559' '3553' '3557' '3594' '3547' '3559'
 '3679' '3754' '3732' '3707' '3688' '3638' '3708' '3641' '3642' '3657'
 '3730' '3685' '3729' '3745' '3792' '3743' '3714' '3781' '3725' '3801'
 '3758' '3725' '3775' '3822' '3812' '3800' '3819' '3851' '3841' '3812'
 '3862' '3886' '3865' '3881' '4052' '4461' '4737' '4264' '4177' '4076'
 '4008' '4027' '3951' '3965' '3987' '4042' '4096' '4101' '4357' '4388'
 '4468' '4504' '4719' '4716' '4604' '4554' '4630' '4757' '4916' '4794'
 '4889' '4893' '4937' '4862' '4836' '4853' '4800' '4791' '4778']
-----
          DATE Beef $/LB
345 2012-10-01

In [13]:
# Checking original dataset on FRED website
# Confirmed no data on FRED website for October 2012
# Filling with average of preceeding and following months
mid_point = (int(beef_df['Beef $/LB'].values[344]) + int(beef_df['Beef $/LB'].values[346])) / 2
beef_df.at[345, 'Beef $/LB'] = mid_point

In [14]:
beef_df.iloc[345]

DATE         2012-10-01 00:00:00
Beef $/LB                 3099.5
Name: 345, dtype: object

In [15]:
# Retry conversion of all column data to float
beef_df['Beef $/LB'] = beef_df['Beef $/LB'].astype(float) / 1000
beef_df.head()

        DATE  Beef $/LB
0 1984-01-01      1.290
1 1984-02-01      1.340
2 1984-03-01      1.308
3 1984-04-01      1.331
4 1984-05-01      1.301

In [16]:
# Remove all data before 1990-01-01 and store to new df
cleaned_beef_df = beef_df[beef_df["DATE"] >= "1990-01-01"]
cleaned_beef_df

          DATE  Beef $/LB
72  1990-01-01      1.557
73  1990-02-01      1.572
74  1990-03-01      1.571
75  1990-04-01      1.593
76  1990-05-01      1.577
..         ...        ...
465 2022-10-01      4.836
466 2022-11-01      4.853
467 2022-12-01      4.800
468 2023-01-01      4.791
469 2023-02-01      4.778

[398 rows x 2 columns]

## Add Percent Change column to data
Import from most recent dataset

In [17]:
# Calculate and add pct_change column
cleaned_beef_df["Beef_Pct_Change (Monthly)"] = beef_df["Beef $/LB"].pct_change(periods=1)
cleaned_beef_df.head(20)

C:\Users\jhillman\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

         DATE  Beef $/LB  Beef_Pct_Change (Monthly)
72 1990-01-01      1.557                   0.037308
73 1990-02-01      1.572                   0.009634
74 1990-03-01      1.571                  -0.000636
75 1990-04-01      1.593                   0.014004
76 1990-05-01      1.577                  -0.010044
77 1990-06-01      1.593                   0.010146
78 1990-07-01      1.581                  -0.007533
79 1990-08-01      1.576                  -0.003163
80 1990-09-01      1.594                   0.011421
81 1990-10-01      1.582                  -0.007528
82 1990-11-01      1.622                   0.025284
83 1990-12-01      1.630                   0.004932
84 1991-01-01      1.647                   0.010429
85 1991-02-01      1.632                  -0.009107
86 1991-03-01      1.610                  -0.013480
87 1991-04-01      1.611                   0.000621
88 1991-05-01      1.624                   0.008070
89 1991-06-01      1.604                  -0.012315
90 1991-07-01      1.586                  -0.011222
91 1991-08-01      1.578                  -0.005044

In [19]:
cleaned_beef_df["Beef_Pct_Change (Monthly)"] = cleaned_beef_df["Beef_Pct_Change (Monthly)"]*100
cleaned_beef_df.head(20)

C:\Users\jhillman\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

         DATE  Beef $/LB  Beef_Pct_Change (Monthly)
72 1990-01-01      1.557                   3.730846
73 1990-02-01      1.572                   0.963391
74 1990-03-01      1.571                  -0.063613
75 1990-04-01      1.593                   1.400382
76 1990-05-01      1.577                  -1.004394
77 1990-06-01      1.593                   1.014585
78 1990-07-01      1.581                  -0.753296
79 1990-08-01      1.576                  -0.316256
80 1990-09-01      1.594                   1.142132
81 1990-10-01      1.582                  -0.752823
82 1990-11-01      1.622                   2.528445
83 1990-12-01      1.630                   0.493218
84 1991-01-01      1.647                   1.042945
85 1991-02-01      1.632                  -0.910747
86 1991-03-01      1.610                  -1.348039
87 1991-04-01      1.611                   0.062112
88 1991-05-01      1.624                   0.806952
89 1991-06-01      1.604                  -1.231527
90 1991-07-01      1.586                  -1.122195
91 1991-08-01      1.578                  -0.504414

In [21]:
# save csv file
output_path = "C:/Users/jhillman/OneDrive/Desktop/Data Analytics Bootcamp/Three_Meals/Edited Data/Output/FRED_beef_cleaned.csv"
cleaned_beef_df.to_csv(output_path, index=False)