In [1]:
import pandas as pd
import numpy as np

In [2]:
file_path = "Food_CPI_data.csv"
CPI_df = pd.read_csv(file_path)
CPI_df

           DATE  CUSR0000SAF112
0    1967-01-01          38.100
1    1967-02-01          38.000
2    1967-03-01          37.800
3    1967-04-01          37.500
4    1967-05-01          37.400
..          ...             ...
668  2022-09-01         318.374
669  2022-10-01         319.917
670  2022-11-01         320.034
671  2022-12-01         322.507
672  2023-01-01         324.815

[673 rows x 2 columns]

In [3]:
#Rename the price column
CPI_df.rename(mapper={"CUSR0000SAF112" : "Index"}, axis=1, inplace=True)
CPI_df.head()

         DATE  Index
0  1967-01-01   38.1
1  1967-02-01   38.0
2  1967-03-01   37.8
3  1967-04-01   37.5
4  1967-05-01   37.4

In [4]:
#View datatypes to see what needs to be changed
CPI_df.dtypes

DATE      object
Index    float64
dtype: object

In [5]:
#Change DATE to datetime
CPI_df['DATE'] = pd.to_datetime(CPI_df["DATE"], format="%Y-%m-%d")
CPI_df.head()

        DATE  Index
0 1967-01-01   38.1
1 1967-02-01   38.0
2 1967-03-01   37.8
3 1967-04-01   37.5
4 1967-05-01   37.4

In [6]:
#View datatypes to confirm change
CPI_df.dtypes

DATE     datetime64[ns]
Index           float64
dtype: object

In [7]:
#check if there are null values
CPI_df.isnull().sum()

DATE     0
Index    0
dtype: int64

In [8]:
# Remove all data before 1990-01-01 and store to new df
cleaned_CPI_df = CPI_df[CPI_df["DATE"] >= "1990-01-01"]
cleaned_CPI_df

          DATE    Index
276 1990-01-01  126.100
277 1990-02-01  127.000
278 1990-03-01  127.400
279 1990-04-01  128.100
280 1990-05-01  128.200
..         ...      ...
668 2022-09-01  318.374
669 2022-10-01  319.917
670 2022-11-01  320.034
671 2022-12-01  322.507
672 2023-01-01  324.815

[397 rows x 2 columns]

In [10]:
# Store new DF as new csv file
output_path = "Output/Food_CPI_cleaned.csv"
cleaned_CPI_df.to_csv(output_path)