In [18]:
import pandas as pd

In [38]:
# Import datasets as dataframes from csv files
corr_raw_df = pd.read_csv("C:/Users/jhillman/OneDrive/Desktop/Data Analytics Bootcamp/Three_Meals/Edited Data/Output/Correlation_data.csv")
corr_raw_df.head()

,date_time,Beef $/LB,Beef_Pct_Change (Monthly),Wheat_Price_(USD/LB),Wheat_Pct_Change (Monthly),Food - Index (1982-1984=100),Food - Pct_Change (Yearly),Food - Pct_Change (Monthly),Milk Cost per Gallon,Milk_Pct_Change (Monthly),DJIA_Price,DJIA_Change_Percent,DJIA_change
0,1995-08-01,1.328,-2.710623,1.161,1.220575,138.8,1.166181,0.434153,2.482,0.201857,4610.56,-2.08,0
1,1995-09-01,1.376,3.614458,1.159,-0.172265,139.5,1.528384,0.504323,2.459,-0.926672,4789.08,3.87,1
2,1995-10-01,1.371,-0.363372,1.175,1.380500,140.6,2.852963,0.788530,2.473,0.569337,4755.48,-0.70,0
3,1995-11-01,1.368,-0.218818,1.169,-0.510638,141.0,3.296703,0.284495,2.493,0.808734,5074.49,6.71,1
4,1995-12-01,1.403,2.558480,1.154,-1.283148,141.5,3.967671,0.354610,2.518,1.002808,5117.12,0.84,1

# Correlation of Percentages (1995-Present Day)

In [54]:
col_list = list(corr_raw_df.columns)
col_list.remove("Beef_Pct_Change (Monthly)")
col_list.remove("Wheat_Pct_Change (Monthly)")
col_list.remove("Food - Pct_Change (Yearly)")
col_list.remove("Food - Pct_Change (Monthly)")
col_list.remove("Milk_Pct_Change (Monthly)")
col_list.remove("DJIA_Change_Percent")
col_list.remove("date_time")

percent_df = corr_raw_df.drop(col_list, axis=1)
percent_df = percent_df.set_index('date_time')
percent_df.head()

,Beef_Pct_Change (Monthly),Wheat_Pct_Change (Monthly),Food - Pct_Change (Yearly),Food - Pct_Change (Monthly),Milk_Pct_Change (Monthly),DJIA_Change_Percent
date_time,,,,,,
1995-08-01,-2.710623,1.220575,1.166181,0.434153,0.201857,-2.08
1995-09-01,3.614458,-0.172265,1.528384,0.504323,-0.926672,3.87
1995-10-01,-0.363372,1.380500,2.852963,0.788530,0.569337,-0.70
1995-11-01,-0.218818,-0.510638,3.296703,0.284495,0.808734,6.71
1995-12-01,2.558480,-1.283148,3.967671,0.354610,1.002808,0.84

In [58]:
# correlation between percentage changes
corr_percent_df = percent_df.corr()
corr_percent_df

,Beef_Pct_Change (Monthly),Wheat_Pct_Change (Monthly),Food - Pct_Change (Yearly),Food - Pct_Change (Monthly),Milk_Pct_Change (Monthly),DJIA_Change_Percent
Beef_Pct_Change (Monthly),1.000000,0.051917,0.141327,0.475948,0.023624,0.003184
Wheat_Pct_Change (Monthly),0.051917,1.000000,0.081849,0.010023,-0.019338,-0.014893
Food - Pct_Change (Yearly),0.141327,0.081849,1.000000,0.388329,0.097869,-0.039998
Food - Pct_Change (Monthly),0.475948,0.010023,0.388329,1.000000,0.151734,0.033608
Milk_Pct_Change (Monthly),0.023624,-0.019338,0.097869,0.151734,1.000000,-0.026115
DJIA_Change_Percent,0.003184,-0.014893,-0.039998,0.033608,-0.026115,1.000000

# Correlation of Prices (1995-Present Day)

In [56]:
col_list1 = list(corr_raw_df.columns)
col_list1.remove("Beef $/LB")
col_list1.remove("Wheat_Price_(USD/LB)")
col_list1.remove("Food - Index (1982-1984=100)")
col_list1.remove("Milk Cost per Gallon")
col_list1.remove("DJIA_Price")
col_list1.remove("date_time")

price_df = corr_raw_df.drop(col_list1, axis=1)
price_df = price_df.set_index('date_time')
price_df.head()

,Beef $/LB,Wheat_Price_(USD/LB),Food - Index (1982-1984=100),Milk Cost per Gallon,DJIA_Price
date_time,,,,,
1995-08-01,1.328,1.161,138.8,2.482,4610.56
1995-09-01,1.376,1.159,139.5,2.459,4789.08
1995-10-01,1.371,1.175,140.6,2.473,4755.48
1995-11-01,1.368,1.169,141.0,2.493,5074.49
1995-12-01,1.403,1.154,141.5,2.518,5117.12

In [57]:
# correlation between percentage changes
corr_price_df = price_df.corr()
corr_price_df

,Beef $/LB,Wheat_Price_(USD/LB),Food - Index (1982-1984=100),Milk Cost per Gallon,DJIA_Price
Beef $/LB,1.000000,0.887798,0.984816,0.680144,0.885222
Wheat_Price_(USD/LB),0.887798,1.000000,0.931517,0.765032,0.751080
Food - Index (1982-1984=100),0.984816,0.931517,1.000000,0.749423,0.875545
Milk Cost per Gallon,0.680144,0.765032,0.749423,1.000000,0.521777
DJIA_Price,0.885222,0.751080,0.875545,0.521777,1.000000

# Percentage Correlation (2008 - Present Day)

In [64]:
percent_2008_df = percent_df.loc[percent_df.index >= "2008-01-01"]
percent_2008_df

,Beef_Pct_Change (Monthly),Wheat_Pct_Change (Monthly),Food - Pct_Change (Yearly),Food - Pct_Change (Monthly),Milk_Pct_Change (Monthly),DJIA_Change_Percent
date_time,,,,,,
2008-01-01,4.207699,0.165837,5.378278,0.504553,0.025840,-4.63
2008-02-01,2.276632,3.973510,4.694720,0.021022,-0.051666,-3.04
2008-03-01,-3.695926,-0.583864,3.708024,0.112092,-2.274490,-0.03
2008-04-01,1.308330,2.509343,3.590766,0.509850,0.476065,4.54
2008-05-01,-0.430478,2.760417,2.649724,0.394870,-1.026586,-1.42
...,...,...,...,...,...,...
2022-09-01,-1.519141,2.785030,8.964276,0.296441,-0.309967,-8.83
2022-10-01,-0.534759,1.016088,8.002714,0.484650,0.071753,13.94
2022-11-01,0.351530,1.383068,6.721044,0.036572,0.812620,5.66
2022-12-01,-1.092108,0.000000,7.644424,0.772730,-0.165955,-4.16
2023-01-01,-0.187500,1.322861,8.047648,0.715643,-0.166231,2.83

In [67]:
corr_percent_2008_df = percent_2008_df.corr()
corr_percent_2008_df

,Beef_Pct_Change (Monthly),Wheat_Pct_Change (Monthly),Food - Pct_Change (Yearly),Food - Pct_Change (Monthly),Milk_Pct_Change (Monthly),DJIA_Change_Percent
Beef_Pct_Change (Monthly),1.000000,0.048866,0.172355,0.551824,0.078392,-0.008602
Wheat_Pct_Change (Monthly),0.048866,1.000000,0.133500,0.043361,-0.121115,0.037458
Food - Pct_Change (Yearly),0.172355,0.133500,1.000000,0.389652,0.069871,-0.068528
Food - Pct_Change (Monthly),0.551824,0.043361,0.389652,1.000000,0.146213,0.004758
Milk_Pct_Change (Monthly),0.078392,-0.121115,0.069871,0.146213,1.000000,0.032991
DJIA_Change_Percent,-0.008602,0.037458,-0.068528,0.004758,0.032991,1.000000

# Price Correlation (2008 - Present Day)

In [68]:
price_2008_df = price_df.loc[price_df.index >= "2008-01-01"]
price_2008_df

,Beef $/LB,Wheat_Price_(USD/LB),Food - Index (1982-1984=100),Milk Cost per Gallon,DJIA_Price
date_time,,,,,
2008-01-01,2.328,1.812,199.793,3.871,12650.36
2008-02-01,2.381,1.884,199.835,3.869,12266.39
2008-03-01,2.293,1.873,200.059,3.781,12262.89
2008-04-01,2.323,1.920,201.079,3.799,12820.13
2008-05-01,2.313,1.973,201.873,3.760,12638.32
...,...,...,...,...,...
2022-09-01,4.862,2.362,318.374,4.181,28730.12
2022-10-01,4.836,2.386,319.917,4.184,32734.40
2022-11-01,4.853,2.419,320.034,4.218,34587.46
2022-12-01,4.800,2.419,322.507,4.211,33147.28
2023-01-01,4.791,2.451,324.815,4.204,34086.89

In [69]:
corr_price_2008_df = price_2008_df.corr()
corr_price_2008_df

,Beef $/LB,Wheat_Price_(USD/LB),Food - Index (1982-1984=100),Milk Cost per Gallon,DJIA_Price
Beef $/LB,1.000000,0.702345,0.960315,0.234473,0.847750
Wheat_Price_(USD/LB),0.702345,1.000000,0.791057,0.552794,0.642738
Food - Index (1982-1984=100),0.960315,0.791057,1.000000,0.377401,0.875182
Milk Cost per Gallon,0.234473,0.552794,0.377401,1.000000,0.119356
DJIA_Price,0.847750,0.642738,0.875182,0.119356,1.000000

In [71]:
# Export to Price Correlation to new CSV file for storage
output_path = "C:/Users/jhillman/OneDrive/Desktop/Data Analytics Bootcamp/Three_Meals/Edited Data/Output/Price_Correlation_data.csv"
corr_price_df.to_csv(output_path, index=False)

In [72]:
# Export to Percent Correlation to new CSV file for storage
output_path = "C:/Users/jhillman/OneDrive/Desktop/Data Analytics Bootcamp/Three_Meals/Edited Data/Output/Percent_Correlation_data.csv"
corr_percent_df.to_csv(output_path, index=False)

In [73]:
# Export to Price > 2008 Correlation to new CSV file for storage
output_path = "C:/Users/jhillman/OneDrive/Desktop/Data Analytics Bootcamp/Three_Meals/Edited Data/Output/Price_2008_Correlation_data.csv"
corr_price_2008_df.to_csv(output_path, index=False)

In [74]:
# Export to Percent > 2008 Correlation to new CSV file for storage
output_path = "C:/Users/jhillman/OneDrive/Desktop/Data Analytics Bootcamp/Three_Meals/Edited Data/Output/Percent_2008_Correlation_data.csv"
corr_percent_2008_df.to_csv(output_path, index=False)